# Ignorar node_modules

node_modules/

# Ignorar entorno de desarollo
.env

# Ignorar logs y archivos temporales.
*.log
.DS_Store
.env.local
.env.*.local

# Archivos específicos de VSCode u otros editores
.vscode/
.idea/
